<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<%- include("./partials/head.ejs") %>
		<link rel="stylesheet" href="/styles/css/catalog.css">
</head>

<body>
	<%- include("./partials/header.ejs") %>
		<%- include("./partials/login.ejs") %>
			<%- include("./partials/register.ejs") %>
				<section class="catalog">
					<div class="container">
						<div class="catalog__container">
							<h1 class="catalog__title">Каталог</h1>
							<div class="catalog__row1">
								<div class="catalog__cards">
									<% for(elem of manga) { %>
										<div class="catalog__card">
											<div><img src="<%= elem.image %>"></div>
											<span>
												<%= elem.typeManga %>
											</span>
											<h3>
												<%= elem.title.russianName %>
											</h3>
											<a class="btnWrapper" href="http://localhost:8080/manga/<%= elem._id %>"></a>
										</div>
										<% } %>
								</div>
								<div class="row1__buttuns">
									<a class="btn__prev">&#60;</a>
									<div class="catalog__buttons">
									</div>
									<a class="btn__next">></a>
								</div>

							</div>
							<div class="catalog__row2">
								<h2>Filter</h2>
							</div>
						</div>
					</div>
				</section>

				<%- include("./partials/footer.ejs") %>
					<%- include("./partials/scripts.ejs") %>
						<script src="/scripts/catalog.js"></script>
</body>

</html>