<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<%- include("./partials/head.ejs") %>
		<link rel="stylesheet" href="/styles/css/mangaChapter.css">
</head>

<body>
	<%- include("./partials/header.ejs") %>
		<%- include("./partials/login.ejs") %>
			<%- include("./partials/register.ejs") %>e
				<div class="wrapper">
					<div class="containerWrapper">
						<img src="<%= chapter.chapterData.chapterImage[chapter.page-1] %>" alt="">
						<a class="btnImage btnWrapper"
							data-image="<%=JSON.stringify(chapter.chapterData.chapterImage.length)%>"></a>
					</div>
				</div>
				<%- include("./partials/footer.ejs") %>
					<%- include("partials/scripts.ejs") %>
						<script defer src="/scripts/mangaChapter.js"></script>
</body>

</html>